/* deign of the first page of Green Mind's website */

h1{
    color: green;
    font-size: 200px;
    font-weight: bolder;
    text-align: center;
}

p{
    color: lightgreen;
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
}

#Green_Mind{
    text-align: center;
    font-size: 400px;
}