
body{
    background-color: blue;
}

.page_wrapper{
    width: 100%;
    max-width: 1166px;
    margin: 0 auto;
}

.grid{
    font-size: 0; /* takes out the gaps*/
}

.box{
    padding: 20px 30px;
    text-align: center;
    color: #fff;
    outline: 2px solid #fff;
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    font-size: 22;
    background-color: #fff;
}



.box:nth-child(1) {background-color: lightcoral; width: 100%}

.box:nth-child(2) {background-color: lightgreen;}

.box:nth-child(3) {background-color: lightskyblue;}

.box:nth-child(4) {background-color: lightyellow;}

.box:nth-child(5) {background-color: lightpink;}

.box:nth-child(6) {background-color: lightgray;}

.box:nth-child(7) {background-color: lightgray;}

.box:nth-child(8) {background-color: lightgray;}

.box:nth-child(9) {background-color: lightgray;}

.box:nth-child(10) {background-color: lightgray;}

.box:nth-child(11) {background-color: lightgray;}
